<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <title>SmartNinja Weather</title>
    <img src="/static/img/smartninja-logo.png">
</head>
<body>
    <h1>SmartNinja Weather</h1>


<p>Location: {{ data.name }}</p>
<p>Weather description: {{ data.weather[0].description }}</p>
<p>Current temperature: {{ data.main.temp }}</p>

    {% extends "base.html" %}

    {% block content %}
    <p>Hello, index.html here!</p>

    <p>{{some_text}}</p>
    <p>Current year:  {{current_year}}</p>
    {% endblock content %}

</body>
</html>

